.cc-content {
	display: flex;
	justify-content: center;
}

.cc-fieldWrapper {
	background-image: url("lightgrey_edittext.png");
	background-size: contain;
	width: 205px;
	height: 33px;
	margin-bottom: 10px;
	display: flex;
	justify-content: flex-start;
}

.cc-field {
	padding: 5px;
}

.cc-submitWrapper{
	background-image: url("forgotpsw_purple.png");
	background-size: contain;
	background-repeat: no-repeat;
	height: 31px;
	display: flex;
	justify-content: space-between;
}

.cc-forgotText {
	display: flex;
	font-size: 10pt;
	padding-top: 9px;
	padding-left: 9px;
	color: white;
}

.cc-submit {
	background-image: url("signin_bluebtn.png");
	background-size: contain;
	background-color: transparent;
	background-repeat: no-repeat;
}

input[type=text], input[type=password], input[type=number] { 
	background-color: transparent;
	border:none;
}

label {
	color: white;
}

button {
	color: white;
	border: none;
}