.cc-submitRegisterWrapper {
	background-image: url("signup_bigblue.png");
	background-size: contain;
	background-repeat: no-repeat;
	height: 33px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.cc-signup {
	background-color: transparent;
}