.cc-navBarContainer {
	display: flex;
	text-align: center;
}

.cc-navBar {
	position: relative;
	top: 0;
	left: 0;
}

.cc-logo {
	position: absolute;
	left: 200px;
	top: 35px;
	display: flex;
}

.cc-content {
	display: flex;
}

.cc-loginLink {
	padding-right: 10px;
}