.cc-navBarContainer {
	display: flex;
	text-align: center;
}

.cc-navBar {
	position: relative;
	top: 0;
	left: 0;
}

.cc-logo {
	position: absolute;
	left: 200px;
	top: 35px;
	display: flex;
}

.cc-content {
	display: flex;
}

.cc-backgroundWrapper {
	background-image: url("select_donut_background.png");
	background-size: contain;
	background-repeat: no-repeat;
	padding-top: 30px;
	width: 284px;
	height: 475px;
	display: flex;
	justify-content: center;
}

.cc-title {
	color: white;
	display: flex;
	justify-content: center;
}

.cc-errorField {
	color: white;
}

.cc-createDonutWrapper {
	background-image: url("create_btn.png");
	background-size: contain;
	background-repeat: no-repeat;
	height: 33px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.cc-createDonut {
	background-color: transparent;
}